*::after ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.background{
    min-height: 100vh;
    align-items: center;
    background-image: url(img/nusantara.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
}
.nav{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    
}
.li-navbar:hover {
    background-color: orange;
    transition: .2s ease-in-out;
    transition-delay: .3s ;
    border-radius: 10px;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b{
    color: #ff511c;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 50px;
}

.nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.nav .active a ::after{
    content: none;
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

.signin{
    background: transparent;
    border: none;
}

.signup{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffec8a;
}

header {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    font-style: initial;
    font-family: sans-serif;
    font-size: medium;
    height: 0%;
    left: auto;
    right: auto;
    resize: both;
}

main {
    max-width: 550px;
    margin: 2rem auto;
    padding: 1rem;
    background: #ffffff17;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
    
}

form {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: sans-serif;
    margin: auto;
}

label {
    margin-top: 1rem;
    font-weight: bold;
}

input, select, textarea, button {
    margin-top: 0.5rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    margin-top: 1.5rem;
    background-color: #4397ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b60ff;
}





